{% extends 'news/default.html' %}

{% load custom_filter %}

{% block title %}{{ Post.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ post.title|censor }}</h1>
        <p>{{ post.created|date:"Y-m-d" }}</p>
        <p>{{ post.text|linebreaks|censor }}</p>
    </div>
    <a href="{% url 'post_edit' post_type=post.post_type pk=post.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'post_delete' post_type=post.post_type pk=post.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}